* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

/* Mobile viewport */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /*Desktop viewport*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  background-image: url(http://biogeekjoey.com/css/img/background.JPG);
  background-attachment: fixed;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center center;
}

h1 {
  font-family: Verdana;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #375b53;
}

#center {
  
  line-height: 160px;
  
  background-color: rgba(219,219,203,0.75);
  border-radius: 8px;
}